/* ---------------------------------------- */
/* ---------- css custom 추가분
/* ---------------------------------------- */

.admin { visibility: visible}



/* ---------------------------------------- */
/* print
/* ---------------------------------------- */
.print_wrap { position: relative; width: 800px; padding: 60px 60px 100px; min-height: 1200px; border: 1px solid #000; text-align: center; }
.print_wrap .btn_print {
    display: block;  position: absolute; top: 50px; right: 65px;
    width: 80px; height: 80px; cursor: pointer;
    background: url('/images/ico_print.png') center no-repeat; background-size: cover;
    z-index: 100;
}
.print_wrap h2 { margin: 60px 0 100px; font-size: 28px; }
.print_wrap table { width: 100%; border: 1px solid #000; margin: 0 auto; text-align: center; }
.print_wrap table th, .print_wrap table td { padding: 10px 10px 12px; border: 1px solid #000; border-bottom: 0; vertical-align: middle; }
.print_wrap table th { border-right: 0; }
.print_wrap table .last { border-bottom: 1px solid #000; }

.print_wrap .info { margin: 35px 0; text-align: left; }
.print_wrap .date { margin-bottom: 20px; }

.print_wrap .chkAgree_div { position: relative; text-align: left; margin-bottom: 80px; }
.print_wrap .chkAgree_div ol {
    display: block; list-style-type: decimal;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
    -webkit-padding-end: 0px;
}
.print_wrap .chkAgree_div li { list-style: inherit; margin: 0 0 25px; line-height: 24px; }
.print_wrap input[type=checkbox] { width: 20px; height: 20px; vertical-align: middle; border: 1px solid #ccc; background: #fff !important; }

.print_wrap .investor_div { position: relative; margin-top: 100px; width: 100%; clear: both; overflow: hidden; }
.print_wrap .investor_div li { float: left; width: 84%; margin-left: 1%; }
.print_wrap .investor_div li:first-child { width: 15%; text-align: left; margin-left: 0; font-weight: bold; }
.print_wrap .investor_div dl { width: 100%; margin-bottom: 10px; overflow: hidden; }
.print_wrap .investor_div dl dt { float: left; width: 25%; text-align: left; margin-right: 1%; }
.print_wrap .investor_div dl dd { float: left; width: 72%; padding: 0 1%; min-height: 34px; border-bottom: 1px solid #000; }
.print_wrap .investor_div dl dd span { float: right; }

.print_wrap .copyright { margin: 100px 0 20px; text-align: right; }

.print_wrap .ml100 { margin-left: 100px; }