@charset "utf-8";

img { border: 0px; vertical-align: middle; }

strong { font-weight: bold !important; }

.clearfix { clear: both; }

.none { display: none !important; }
.overflow-h { overflow: hidden; }

.fw-n { font-weight: normal; }
.fw-b { font-weight: bold; }

.fc-white { color: #fff !important; }
.fc-red { color: #dd193c !important; }
.fc-black { color: #333 !important; }
.fc-grey { color: #666 !important; }
.fc-lightgrey { color: #999 !important; }

.bg_white { background: #fff !important; }

.fs-11 { font-size: 11px; }
.fs-12 { font-size: 12px !important; }
.fs-13 { font-size: 13px !important; }
.fs-14 { font-size: 14px !important; }
.fs-15 { font-size: 15px !important; }

.t-l { text-align: left !important; }
.t-c { text-align: center !important; }
.t-r { text-align: right !important; }

.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.mb50 { margin-bottom: 50px; }

.mt5{margin-top: 5px;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px !important; }

.mr5{margin-right: 5px;}
.mr10{margin-right: 10px !important;}
.mr15{margin-right: 15px !important;}
.mr20{margin-right: 20px !important;}

.ml5{margin-left: 5px !important;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}

.p10 { padding: 10px; }
.p20 { padding: 20px; }

.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px !important;}
.pb25{padding-bottom: 25px !important;}
.pb30{padding-bottom: 30px !important;}
.pb34{padding-bottom: 34px !important;}

.pt5{padding-top: 5px !important;}
.pt10{padding-top: 10px !important;}
.pt15{padding-top: 15px !important;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}

.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px !important;}
.pr30{padding-right: 30px !important;}

.pl0{padding-left: 0px !important;}
.pl5{padding-left: 5px;}
.pl10{padding-left: 10px !important;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px !important;}
.pl50{padding-left: 50px !important;}
.pl60{padding-left: 60px !important;}
.pl70{padding-left: 70px !important;}


.fl { float: left; }
.fr { float: right; }

.w70 { width: 70px !important; }
.w100 { width: 100px !important; }

.quarter1 { width: 25%; }
.quarter2 { width: 50%; }
.quarter3 { width: 75%; }
.quarter4 { width: 99%; }

.full { width: 100%; }


/* ---------------------------------------- */
/* modal
/* ---------------------------------------- */
.glyphicon-modal-window:before { content: "\e237"; }

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.modal-open { overflow: hidden; }
.modal { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 10500; display: none; overflow: hidden; -webkit-overflow-scrolling: touch; outline: 0; }
.modal-open .modal { overflow-x: hidden; overflow-y: auto; }
.modal-dialog { position: relative; width: auto; margin: 10px auto; }
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    border-radius: inherit !important;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10400;
    background-color: #000;
}
.modal-backdrop.fade { filter: alpha(opacity=0); opacity: 0; }
.modal-backdrop.in { filter: alpha(opacity=70); opacity: .7; }
.modal-header { min-height: 16.42857143px; padding: 0 !important; border-bottom: 0 !important; }
.modal-header .close { position: absolute; top: 10px; right: 10px; }
.modal-title { margin: 0; line-height: 1.42857143; }
.modal-body { position: relative; padding: 50px 20px !important; font-size: 17px; font-weight: 700; line-height: 22px; overflow: hidden; }
.modal-footer { padding: 30px !important; text-align: right; border-top: 1px solid #e5e5e5; }
.modal-footer button + button { margin-bottom: 0; margin-left: 5px; }
.modal-footer .btn-group button + button { margin-left: -1px; }
.modal-footer-list li button { padding: 8px 0 10px; width: 160px; font-size: 14px; line-height: 14px; letter-spacing: -0.12em; }
.modal-footer-list li button.btn_type03 { margin-left: 5px; height: 34px; }
.modal-footer .btn-block + .btn-block { margin-left: 0; }
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 768px) {
    .modal-dialog { width: 600px; margin: 0px auto; }
    .modal-sm { width: 450px; }
}
@media (min-width: 992px) {
    .modal-lg { width: 900px; }
}

.modal-footer:before, .modal-footer:after { display: table; content: " "; }
.modal-footer:after { clear: both; }

.modal-footer-list { width: 100%; }
.modal-footer-list li.pull-left { width: 50%; }

.modal.fade.disable-scroll { overflow: hidden; }
.modal.fade { height: 100%; top: auto; }
.modal.fade { opacity: 1 !important; }

.modal .modal-dialog {
    transition: all .2s !important;
}
.modal.fade .modal-dialog {
    display: table;
    height: 100%;
}
.modal.fade .modal-content-wrapper {
    display: table-cell;
    vertical-align: middle;
}
@media (min-width: 768px) {
    .modal .modal-dialog {
        margin: 0 auto;
    }
}

h2.modal-title { text-align: left; font-size: 18px; color: #000; padding: 10px 20px 10px; background: #f5f5f5; border-bottom: 1px solid #efefef; }
.modal-header .ic_completion { width: 90px; height: 90px; margin-bottom: 40px; }
.modal-header .ic_fail { width: 90px; height: 90px; margin-bottom: 40px; margin-top: 50px; }

@media screen and (max-width:530px) {
    .modal-footer-list li button { width: 100%; }

    .modal-body, .modal-footer { padding: 15px; }
}