<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stp.absm.mybatis.mapper.Page006Mapper">

    <resultMap id="FilterMap" type="com.stp.absm.model.AbsmFilter">
        <id property="fiId" column="fi_id"/>
        <result property="caId" column="ca_id"/>
        <result property="prId" column="pr_id"/>
        <result property="seCd" column="se_cd"/>
        <result property="valCd" column="val_cd"/>
        <result property="meanRri" column="mean_rri"/>
        <result property="stdRri" column="std_rri"/>
        <result property="meanHrv" column="mean_hrv"/>
        <result property="stdHrv" column="std_hrv"/>
        <result property="rmssdd" column="rmssdd"/>
        <result property="pnn50" column="pnn50"/>
        <result property="lfhf" column="lfhf"/>
        <result property="scl" column="scl"/>
        <result property="surAvg" column="sur_avg"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="deleteDate" column="delete_date"/>
        <result property="caseNm" column="case_nm" />
        <result property="name" column="name" />
        <result property="chartId" column="chart_id" />
        <result property="chartData" column="chart_data" />
        <result property="pNo" column="p_no" />
    </resultMap>

    <resultMap id="ModelMap" type="com.stp.absm.model.AbsmModel">
        <id property="moId" column="mo_id"/>
        <result property="caId" column="ca_id"/>
        <result property="prId" column="pr_id"/>
        <result property="seCd" column="se_cd"/>
        <result property="meanRri" column="mean_rri"/>
        <result property="stdRri" column="std_rri"/>
        <result property="meanHrv" column="mean_hrv"/>
        <result property="stdHrv" column="std_hrv"/>
        <result property="rmssdd" column="rmssdd"/>
        <result property="pnn50" column="pnn50"/>
        <result property="lfhf" column="lfhf"/>
        <result property="scl" column="scl"/>
        <result property="surAvg" column="sur_avg"/>
        <result property="moPre1" column="mo_pre1"/>
        <result property="moPre2" column="mo_pre2"/>
        <result property="moPre3" column="mo_pre3"/>
        <result property="moPre4" column="mo_pre4"/>
        <result property="stLevel" column="st_level"/>
        <result property="dt" column="dt"/>
        <result property="caseNm" column="case_nm"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="deleteDate" column="delete_date"/>

    </resultMap>

    <resultMap id="OrgMap" type="com.stp.absm.model.AbsmOrg">
        <id property="orId" column="or_id"/>
        <result property="caId" column="ca_id"/>
        <result property="prId" column="pr_id"/>
        <result property="fiTm" column="fi_tm"/>
        <result property="meanRri" column="mean_rri"/>
        <result property="stdRri" column="std_rri"/>
        <result property="meanHrv" column="mean_hrv"/>
        <result property="stdHrv" column="std_hrv"/>
        <result property="rmssdd" column="rmssdd"/>
        <result property="pnn50" column="pnn50"/>
        <result property="lfhf" column="lfhf"/>
        <result property="scl" column="scl"/>
        <result property="dt" column="dt"/>
        <result property="caseNm" column="case_nm"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="deleteDate" column="delete_date"/>

    </resultMap>

    <resultMap id="FileMap" type="com.stp.absm.model.AbsmFile">
        <id property="viId" column="vi_id"/>
        <result property="caId" column="ca_id"/>
        <result property="prId" column="pr_id"/>
        <result property="fileCd" column="file_cd"/>
        <result property="url" column="url"/>
        <result property="fileSize" column="fileSize"/>
        <result property="fileName" column="fileName"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="deleteDate" column="delete_date"/>

    </resultMap>

    <resultMap id="EventMap" type="com.stp.absm.model.AbsmEvent">
        <id property="evId" column="ev_id"/>
        <result property="caId" column="ca_id"/>
        <result property="prId" column="pr_id"/>
        <result property="evDt1" column="ev_dt1"/>
        <result property="evDt2" column="ev_dt2"/>
        <result property="evDt3" column="ev_dt3"/>
        <result property="evDt4" column="ev_dt4"/>
        <result property="evDt5" column="ev_dt5"/>
        <result property="evDt6" column="ev_dt6"/>
        <result property="evDt7" column="ev_dt7"/>
        <result property="evDt8" column="ev_dt8"/>
        <result property="evDt9" column="ev_dt9"/>
        <result property="evDt10" column="ev_dt10"/>
        <result property="dt" column="dt"/>
        <result property="caseNm" column="case_nm"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="deleteDate" column="delete_date"/>

    </resultMap>
    <resultMap id="PriMap" type="com.stp.absm.model.AbsmPrivate">
        <id property="prId" column="pr_id"/>
        <result property="caId" column="ca_id"/>
        <result property="prNo" column="p_no"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="note" column="note"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="deleteDate" column="delete_date"/>
    </resultMap>


    <resultMap id="GraphMap" type="com.stp.absm.model.AbsmOrg">
        <id property="orId" column="or_id"/>
        <result property="caId" column="ca_id"/>
        <result property="prId" column="pr_id"/>
        <result property="pNo" column="p_no"/>
        <result property="fiTm" column="fi_tm"/>
        <result property="oMeanRri" column="o_mean_rri"/>
        <result property="oStdRri" column="o_std_rri"/>
        <result property="oMeanHrv" column="o_mean_hrv"/>
        <result property="oStdHrv" column="o_std_hrv"/>
        <result property="oRmssdd" column="o_rmssdd"/>
        <result property="oPnn50" column="o_pnn50"/>
        <result property="oLfhf" column="o_lfhf"/>
        <result property="oScl" column="o_scl"/>
        <result property="evDt1" column="ev_dt1"/>
        <result property="evDt2" column="ev_dt2"/>
        <result property="evDt3" column="ev_dt3"/>
        <result property="evDt4" column="ev_dt4"/>
        <result property="evDt5" column="ev_dt5"/>
        <result property="evDt6" column="ev_dt6"/>
        <result property="evDt7" column="ev_dt7"/>
        <result property="evDt8" column="ev_dt8"/>
        <result property="evDt9" column="ev_dt9"/>
        <result property="evDt10" column="ev_dt10"/>
        <result property="seCd" column="se_cd"/>
        <result property="codeName" column="code_name"/>
        <result property="mMeanRri" column="m_mean_rri"/>
        <result property="mStdRri" column="m_std_rri"/>
        <result property="mMeanHrv" column="m_mean_hrv"/>
        <result property="mStdHrv" column="m_std_hrv"/>
        <result property="mRmssdd" column="m_rmssdd"/>
        <result property="mPnn50" column="m_pnn50"/>
        <result property="mLfhf" column="m_lfhf"/>
        <result property="mScl" column="m_scl"/>
        <result property="surAvg" column="sur_avg"/>
        <result property="moPre1" column="mo_pre1"/>
        <result property="moPre2" column="mo_pre2"/>
        <result property="moPre3" column="mo_pre3"/>
        <result property="moPre4" column="mo_pre4"/>
        <result property="stLevel" column="st_level"/>
    </resultMap>
    <!--========================================== SELECT ============================================== -->
    <sql id="selectFilterSql">
        select a.*
        from
        (
        SELECT (@row_number:=@row_number + 1) AS num, c.*
        FROM absm_filter AS c, (SELECT @row_number:=0) AS t
        WHERE 1=1
        AND c.pr_id = #{prId}
        ) a
        Inner JOIN absm_case b
        ON a.ca_id = b.ca_id
        AND b.ca_id = #{caId}
        order by num desc
    </sql>

    <select id="selectFiltersCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM (<include refid="selectFilterSql"></include>) a
    </select>


    <select id="selectFilters" parameterType="map" resultMap="FilterMap">
        <include refid="selectFilterSql"></include>
    </select>






    <sql id="selectModelSql">
        select a.* from
        (
        SELECT (@row_number:=@row_number + 1) AS num, c.*
        FROM absm_model AS c, (SELECT @row_number:=0) AS t
        WHERE 1=1
        AND c.pr_id = #{prId}
        ) a
        Inner JOIN absm_case b
        ON a.ca_id = b.ca_id
        AND b.ca_id = #{caId}
        order by num desc
    </sql>

    <select id="selectModelsCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM (<include refid="selectModelSql"></include>) a
    </select>


    <select id="selectModels" parameterType="map" resultMap="ModelMap">
        <include refid="selectModelSql"></include>
    </select>



    <sql id="selectMeasureSql">
        select a.*
        from
        (
        SELECT (@row_number:=@row_number + 1) AS num, c.*
        FROM absm_measure AS c, (SELECT @row_number:=0) AS t
        WHERE 1=1
        AND c.pr_id = #{prId}
        AND c.eg_cd = #{egCd}
        ) a
        Inner JOIN absm_case b
        ON a.ca_id = b.ca_id
        AND b.ca_id = #{caId}
        order by num desc
        LIMIT #{lastRow}, #{lastRow}+30000
    </sql>

    <select id="selectMeasuresCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM (<include refid="selectMeasureSql"></include>) a
    </select>


    <select id="selectMeasures" parameterType="map" resultMap="FilterMap">
        <include refid="selectMeasureSql"></include>
    </select>

    <select id="selectResultData" parameterType="java.util.Map" resultMap="OrgMap">

        select
                a.ca_id
                ,a.case_nm
                ,b.pr_id
                ,b.p_no
                ,b.name
                ,c.fi_tm
                ,c.mean_rri
                ,c.std_rri
                ,c.mean_hrv
                ,c.std_hrv
                ,c.rmssdd
                ,c.pnn50
                ,c.lfhf
                ,c.scl
          from absm_case a, absm_private b,  absm_org c
         where a.ca_id = #{caId}
           and a.ca_id = b.ca_id
           and a.ca_id = c.ca_id
           and b.pr_id = c.pr_id
           and b.p_no = #{pNo}
    </select>

    <select id="selectVideoUrl" parameterType="java.util.Map" resultMap="FileMap">
        select url
          from absm_file a, absm_private b
         where a.ca_id = #{caId}
           and a.ca_id = b.ca_id
           and a.pr_id = b.pr_id
           and b.p_no = #{pNo}
           and a.file_cd = '08'
    </select>


    <sql id="selectEventSql">
        select a.*
        ,b.dt
        ,b.case_nm
        from
        (
        SELECT (@row_number:=@row_number + 1) AS num, c.*
        FROM absm_event AS c, (SELECT @row_number:=0) AS t
        WHERE 1=1
        and c.p_no = #{pNo}
        ) a
        Inner JOIN absm_case b
        ON a.ca_id = b.ca_id
        AND b.ca_id = #{caId}
        order by num desc
    </sql>



    <select id="selectEvents" parameterType="map" resultMap="EventMap">
        <include refid="selectEventSql"></include>
    </select>

    <select id="selectPrivates" parameterType="map" resultMap="PriMap">
        select *
        from absm_private
        where 1=1
        and ca_id = #{caId}
        order by pr_id
    </select>
    <select id="selectPrivate" parameterType="map" resultMap="PriMap">
        select *
        from absm_private
        where 1=1
        and ca_id = #{caId}
        and p_no = #{pNo}
        order by pr_id
    </select>


    <select id="selectGraph"  parameterType="map" resultMap="GraphMap">
        select c1.or_id
            , c1.ca_id
            , c1.pr_id
            , c1.p_no
            , c1.fi_tm
            , c1.mean_rri o_mean_rri
            , c1.std_rri o_std_rri
            , c1.mean_hrv o_mean_hrv
            , c1.std_hrv o_std_hrv
            , c1.rmssdd o_rmssdd
            , c1.pnn50 o_pnn50
            , c1.lfhf o_lfhf
            , c1.scl o_scl
            , c1.ev_dt1
            , c1.ev_dt2
            , c1.ev_dt3
            , c1.ev_dt4
            , c1.ev_dt5
            , c1.ev_dt6
            , c1.ev_dt7
            , c1.ev_dt8
            , c1.ev_dt9
            , c1.ev_dt10
            , c1.se_cd
            , c3.code_name
            , c2.mean_rri m_mean_rri
            , c2.std_rri m_std_rri
            , c2.mean_hrv m_mean_hrv
            , c2.std_hrv m_std_hrv
            , c2.rmssdd m_rmssdd
            , c2.pnn50 m_pnn50
            , c2.lfhf m_lfhf
            , c2.scl m_scl
            , c2.sur_avg
            , c2.mo_pre1
            , c2.mo_pre2
            , c2.mo_pre3
            , c2.mo_pre4
            , round(c2.st_level)  st_level
            from(
                select b1.*
                , case when b1.cur_dt between b1.ev_dt1 and b1.ev_dt2 then '2'
                       when b1.cur_dt between b1.ev_dt2 and b1.ev_dt3 then '3'
                       when b1.cur_dt between b1.ev_dt3 and b1.ev_dt4 then '4'
                       when b1.cur_dt between b1.ev_dt4 and b1.ev_dt5 then '5'
                       when b1.cur_dt between b1.ev_dt5 and b1.ev_dt6 then '6'
                       when b1.cur_dt between b1.ev_dt6 and b1.ev_dt7 then '7'
                       when b1.cur_dt between b1.ev_dt7 and b1.ev_dt8 then '8'
                       when b1.cur_dt between b1.ev_dt8 and b1.ev_dt9 then '9'
                       end se_cd
                from
                    (
                    SELECT a1.*,a2.p_no,
                    STR_TO_DATE(a2.ev_dt1,'%H:%i:%s') as ev_dt1,
                    STR_TO_DATE(a2.ev_dt2,'%H:%i:%s') as ev_dt2,
                    STR_TO_DATE(a2.ev_dt3,'%H:%i:%s') as ev_dt3,
                    STR_TO_DATE(a2.ev_dt4,'%H:%i:%s') as ev_dt4,
                    STR_TO_DATE(a2.ev_dt5,'%H:%i:%s') as ev_dt5,
                    STR_TO_DATE(a2.ev_dt6,'%H:%i:%s') as ev_dt6,
                    STR_TO_DATE(a2.ev_dt7,'%H:%i:%s') as ev_dt7,
                    STR_TO_DATE(a2.ev_dt8,'%H:%i:%s') as ev_dt8,
                    STR_TO_DATE(a2.ev_dt9,'%H:%i:%s') as ev_dt9,
                    STR_TO_DATE(a2.ev_dt10,'%H:%i:%s') as ev_dt10,
                    DATE_ADD(STR_TO_DATE(a2.ev_dt1,'%H:%i:%s'), interval a1.fi_tm MINUTE) as cur_dt
                     FROM absm_org a1
                    inner join
                    (
                    SELECT a.*,b.pr_id FROM absm_event a
                    inner join absm_private b
                    on a.p_no = b.p_no
                    and a.ca_id = b.ca_id
                    where a.ca_id = #{caId}
                    and a.p_no = #{pNo}
                    ) a2
                    on a1.ca_id = a2.ca_id
                    and a1.pr_id =a2.pr_id
                    where a1.ca_id = #{caId}
                    order by CAST(a1.fi_tm AS UNSIGNED)
                    ) b1
                ) c1
                left outer join absm_model c2
                on c1.ca_id = c2.ca_id
                and c1.pr_id = c2.pr_id
                and c1.se_cd = c2.se_cd
                and c1.p_no = #{pNo}
                inner join absm_code c3
                on CONCAT('E0',c1.se_cd) = c3.data
                order by  CAST(c1.fi_tm AS UNSIGNED)

    </select>
</mapper>