<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xenix.wicrowd.mybatis.mapper.XCommunityMapper">

    <!--========================================== INSERT ============================================== -->

    <!--========================================== UPDATE ============================================== -->

    <!--========================================== DELETE ============================================== -->

    <!--========================================== SELECT ============================================== -->
    <sql id="selectCommunitySql">
        SELECT *
        FROM wi_community
        WHERE delete_date IS NULL
        <if test="category != null and category != ''">
            AND category IN
            <foreach collection="category" item="category"   open="(" close=")" separator=",">
                '${category}'
            </foreach>
        </if>
    </sql>
    <select id="selectCommunityCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM (<include refid="selectCommunitySql"></include>) a
    </select>

    <resultMap id="communitiesMap" type="net.xenix.wicrowd.model.XCommunity">
        <id property="communityId" column="community_id"/>
        <result property="userId" column="user_id" />
        <result property="category" column="category" />
        <result property="categoryName" column="category_name" />
        <result property="title" column="title" />
        <result property="content" column="content"/>
        <result property="viewCount" column="view_count"/>
        <result property="regDate" column="reg_date"/>

        <association property="user" javaType="net.xenix.wicrowd.model.XUser">
            <id property="userId" column="user_id"/>
            <result property="name" column="user_name" typeHandler="net.xenix.wicrowd.mybatis.EncryptStringTypeHandler"></result>
            <result property="profileImageUrl" column="profile_image_url" />
            <result property="invSortCd" column="inv_sort_cd" />
        </association>
    </resultMap>

    <resultMap id="communityMap" type="net.xenix.wicrowd.model.XCommunity">
        <id property="communityId" column="community_id"/>
        <result property="category" column="category" />
        <result property="categoryName" column="category_name" />
        <result property="title" column="title" />
        <result property="content" column="content"/>
        <result property="viewCount" column="view_count"/>
        <result property="regDate" column="reg_date"/>

        <association property="user" javaType="net.xenix.wicrowd.model.XUser">
            <id property="userId" column="user_id"/>
            <result property="name" column="user_name" typeHandler="net.xenix.wicrowd.mybatis.EncryptStringTypeHandler"></result>
            <result property="profileImageUrl" column="profile_image_url" />
            <result property="invSortCd" column="inv_sort_cd" />
        </association>

        <collection property="comments" resultMap="commentMap" notNullColumn="comment_id"></collection>
    </resultMap>


    <resultMap id="commentMap" type="net.xenix.wicrowd.model.XCommunityComment">

        <id property="commentId" column="comment_id"/>
        <result property="content" column="comment_content"></result>
        <result property="regDate" column="comment_reg_date"/>
        <result property="adminDeleteDate" column="comment_admin_delete_date"/>

        <association property="user" javaType="net.xenix.wicrowd.model.XUser">
            <id property="userId" column="comment_user_id"/>
            <result property="name" column="commentuser_name" typeHandler="net.xenix.wicrowd.mybatis.EncryptStringTypeHandler"></result>
            <result property="profileImageUrl" column="commentuser_profile_image_url"></result>
        </association>

        <collection property="replies" resultMap="replyMap" notNullColumn="reply_comment_id"></collection>

    </resultMap>

    <resultMap id="replyMap" type="net.xenix.wicrowd.model.XCommunityComment">

        <id property="commentId" column="reply_comment_id"/>
        <result property="content" column="reply_content"></result>
        <result property="parentCommentId" column="reply_parent_comment_id"/>
        <result property="regDate" column="reply_reg_date"/>
        <result property="adminDeleteDate" column="reply_admin_delete_date"/>


        <association property="user" javaType="net.xenix.wicrowd.model.XUser">
            <id property="userId" column="reply_user_id"/>
            <result property="name" column="reply_user_name" typeHandler="net.xenix.wicrowd.mybatis.EncryptStringTypeHandler"></result>
            <result property="profileImageUrl" column="reply_profile_image_url"></result>
        </association>

    </resultMap>


    <select id="selectCommunities" parameterType="map" resultMap="communitiesMap">
        SELECT
        comm.*,

        user.name user_name,
        user.profile_image_url,
        category.name category_name,
        userInv.inv_sort_cd
        FROM wi_community comm
        LEFT OUTER JOIN wi_user user ON user.user_id = comm.user_id
        LEFT OUTER JOIN wi_user_investor userInv ON userInv.user_id = comm.user_id
        LEFT OUTER JOIN wi_category category ON category.category_id = comm.category AND category.type = "community"
        WHERE comm.delete_date IS NULL
        AND category.delete_date IS NULL
        <if test="category != null and category != ''">
            AND category IN
            <foreach collection="category" item="category"   open="(" close=")" separator=",">
                '${category}'
            </foreach>
        </if>
        <choose>
            <when test="pageable != null">
                ORDER BY <foreach collection="pageable.sort" item="order" separator=",">${order.property} ${order.direction}</foreach>
                LIMIT #{pageable.offset}, #{pageable.pageSize}
            </when>
            <otherwise>
                ORDER BY comm.reg_date DESC
            </otherwise>
        </choose>
    </select>


    <select id="selectCommunity" parameterType="map" resultMap="communityMap">
        SELECT a.*,
        ccomment.comment_id reply_comment_id,
        ccomment.content reply_content,
        ccomment.user_id reply_user_id,
        ccomment.parent_comment_id reply_parent_comment_id,
        ccomment.reg_date reply_reg_date,
        ccomment.admin_delete_date reply_admin_delete_date,
        cuser.name reply_user_name,
        cuser.profile_image_url reply_profile_image_url
        FROM (
        SELECT comm.*,
        comment.comment_id,
        comment.content comment_content,
        comment.reg_date comment_reg_date,
        comment.admin_delete_date comment_admin_delete_date,
        commentuser.user_id comment_user_id,
        commentuser.name commentuser_name,
        commentuser.profile_image_url commentuser_profile_image_url
        FROM (
        SELECT
        comm.*,
        user.name user_name,
        user.profile_image_url,
        category.name category_name,
        userInv.inv_sort_cd
        FROM wi_community comm
        LEFT OUTER JOIN wi_user user ON user.user_id = comm.user_id
        LEFT OUTER JOIN wi_user_investor userInv ON userInv.user_id = comm.user_id
        LEFT OUTER JOIN wi_category category ON category.category_id = comm.category AND category.type = "community"
        WHERE comm.delete_date IS NULL
        AND category.delete_date IS NULL
        AND comm.community_id = #{communityId}
        ) comm
        LEFT OUTER JOIN wi_community_comment comment ON comm.community_id = comment.community_id AND comment.delete_date IS NULL AND comment.comment_id = comment.parent_comment_id
        LEFT OUTER JOIN wi_user commentuser ON comment.user_id = commentuser.user_id
        ) a
        LEFT OUTER JOIN wi_community_comment ccomment ON a.comment_id = ccomment.parent_comment_id AND ccomment.comment_id != ccomment.parent_comment_id AND ccomment.delete_date IS NULL
        LEFT OUTER JOIN wi_user cuser ON ccomment.user_id = cuser.user_id
        ORDER BY a.community_id DESC, a.comment_id ASC, ccomment.comment_id ASC
    </select>

</mapper>