<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xenix.wicrowd.mybatis.mapper.XFaqMapper">

    <!--========================================== INSERT ============================================== -->

    <!--========================================== UPDATE ============================================== -->

    <!--========================================== DELETE ============================================== -->

    <!--========================================== SELECT ============================================== -->
    <sql id="selectSql">
        SELECT *
        FROM wi_faq
        WHERE delete_date IS NULL
        <if test="faqType != null and faqType != ''">AND faq_type = #{faqType}</if>
    </sql>


    <resultMap id="faqMap" type="net.xenix.wicrowd.model.XFaq">
        <id property="faqSeq" column="faq_seq"/>
        <result property="question" column="question"/>
        <result property="answer" column="answer"/>
        <result property="faqType" column="faq_type"/>
        <result property="regDate" column="reg_date"/>
    </resultMap>


    <select id="selectFaqs" parameterType="map" resultMap="faqMap">
        <include refid="selectSql"></include>
        ORDER BY <foreach collection="pageable.sort" item="order" separator=",">${order.property} ${order.direction}</foreach>
    </select>


</mapper>