<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xenix.wicrowd.mybatis.mapper.XNewsMapper">

    <!--========================================== INSERT ============================================== -->

    <!--========================================== UPDATE ============================================== -->

    <!--========================================== DELETE ============================================== -->

    <!--========================================== SELECT ============================================== -->
    <sql id="selectNewsSql">
        SELECT *
        FROM wi_news
        WHERE delete_date IS NULL
        <if test="keyword != null and keyword != ''">AND (title LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%'))</if>
    </sql>
    <select id="selectNewsCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM (<include refid="selectNewsSql"></include>) a
    </select>


    <resultMap id="newsMap" type="net.xenix.wicrowd.model.XNews">
        <id property="newsId" column="news_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="regDate" column="reg_date"/>
    </resultMap>


    <select id="selectNews" parameterType="map" resultMap="newsMap">
        <include refid="selectNewsSql"></include>
        ORDER BY <foreach collection="pageable.sort" item="order" separator=",">${order.property} ${order.direction}</foreach>
        LIMIT #{pageable.offset}, #{pageable.pageSize}
    </select>

    <select id="selectLatelyNews" resultMap="newsMap">
        <include refid="selectNewsSql"></include>
        ORDER BY reg_date DESC
        LIMIT 1
    </select>

    <select id="selectNewsDetail" resultMap="newsMap">
        <include refid="selectNewsSql"></include>
        WHERE news_id = #{newsId}
    </select>



</mapper>