<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xenix.wicrowd.mybatis.mapper.XProjectSbscMapper">

    <!--========================================== INSERT ============================================== -->

    <!--========================================== UPDATE ============================================== -->

    <!--========================================== DELETE ============================================== -->

    <!--========================================== SELECT ============================================== -->
    <sql id="selectSql">
         SELECT user.user_id,
                user.name,
                user.profile_image_url,
                sbsc.reg_date
           FROM wi_project_sbsc sbsc LEFT OUTER JOIN wi_user user ON sbsc.user_id = user.user_id
        WHERE sbsc.project_id = #{projectId}
          AND sbsc.delete_date IS NULL
          AND sbsc.state = #{state}
    </sql>

    <select id="selectProjectUpdatesCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM (<include refid="selectSql"></include>) a
    </select>


    <resultMap id="investorMap" type="net.xenix.wicrowd.model.XUser">
        <id property="userId" column="user_id"/>
        <result property="name" column="name" typeHandler="net.xenix.wicrowd.mybatis.EncryptStringTypeHandler"/>
        <result property="profileImageUrl" column="profile_image_url" />
        <result property="useName" column="use_name"/>
        <result property="investCount" column="invest_count"/>
        <result property="regDate" column="reg_date"/>
    </resultMap>


    <select id="selectInvestors" parameterType="map" resultMap="investorMap">
        SELECT user.user_id,
               user.name,
               user.profile_image_url,
               sbsc.reg_date,
               sbsc.use_name,
               COUNT(user.user_id) AS invest_count
          FROM wi_project_sbsc sbsc LEFT OUTER JOIN wi_user user ON sbsc.user_id = user.user_id
         WHERE sbsc.project_id = #{projectId}
           AND sbsc.delete_date IS NULL
           AND sbsc.state = #{state}
         GROUP BY user.user_id
        <choose>
            <when test="pageable != null">
                ORDER BY
                <foreach collection="pageable.sort" item="order" separator=",">${order.property} ${order.direction}</foreach>
                LIMIT #{pageable.offset}, #{pageable.pageSize}
            </when>
            <otherwise>
                ORDER BY sbsc.reg_date DESC
            </otherwise>
        </choose>
    </select>



    <!-- MyPage 투자내역 조회 시작 -->

    <resultMap id="sbscMap" type="net.xenix.wicrowd.model.XProjectSbsc">
        <id property="sbscId" column="sbsc_id"/>
        <result property="pblAcno" column="pbl_acno" typeHandler="net.xenix.wicrowd.mybatis.EncryptStringTypeHandler"/>
        <result property="pblAcnoNm" column="pbl_acno_nm" typeHandler="net.xenix.wicrowd.mybatis.EncryptStringTypeHandler"/>
        <result property="pblBnkCd" column="pbl_bnk_cd" />
        <result property="sbscQty" column="sbsc_qty"/>
        <result property="sbscAmt" column="sbsc_amt"/>
        <result property="commission" column="commission"/>
        <result property="sbscIssNo" column="sbsc_iss_no"/>
        <result property="invSortCd" column="inv_sort_cd"/>
        <result property="secucoAcopno" column="secuco_acopno"/>
        <result property="secucoAcoacd" column="secuco_acoacd"/>
        <result property="secucoAcopseq" column="secuco_acopseq"/>
        <result property="invstrTrsacNo" column="invstr_trsac_no" typeHandler="net.xenix.wicrowd.mybatis.EncryptStringTypeHandler"/>
        <result property="cancelCd" column="cancel_cd"/>
        <result property="cancelMsg" column="cancel_msg"/>
        <result property="payType" column="pay_type"/>
        <result property="accValid" column="acc_valid"/>
        <result property="state" column="state"/>
        <result property="regDate" column="reg_date"/>
        <result property="deleteDate" column="delete_date"/>

        <association property="project" javaType="net.xenix.wicrowd.model.XProject">
            <id property="projectId" column="project_id"/>
            <result property="name" column="name"></result>
            <result property="summary" column="summary"></result>
            <result property="sbscStDt" column="sbsc_st_dt"></result>
            <result property="sbscNdDt" column="sbsc_nd_dt"></result>
            <result property="isin" column="isin"></result>
            <result property="sbscIssNm" column="sbsc_iss_nm"></result>
            <result property="secnTpcd" column="secn_tpcd"></result>
            <result property="sbscCount" column="sbsc_count"></result>
            <result property="sbscAmt" column="prj_sbsc_amt"></result>
            <result property="targetAmt" column="target_amt"></result>
            <result property="companyValue" column="company_value"></result>
            <result property="shareRatio" column="share_ratio"></result>
            <result property="targetStockPrice" column="target_stock_price"></result>
            <result property="minSbscCount" column="min_sbsc_count"></result>
            <result property="issueDate" column="issue_date"></result>
            <result property="corpStock" column="corp_stock"></result>
            <result property="successState" column="success_state"></result>
        </association>

        <association property="user" javaType="net.xenix.wicrowd.model.XUser">
            <id property="userId" column="user_id"/>
            <result property="name" column="username" typeHandler="net.xenix.wicrowd.mybatis.EncryptStringTypeHandler"></result>
        </association>

        <association property="fileId1" javaType="net.xenix.wicrowd.model.XFile">
            <id property="fileId" column="file_id"/>
            <result property="file" column="file"></result>
            <result property="filename" column="filename"></result>
        </association>
    </resultMap>

    <select id="selectProjectSbscsCountByUserId" parameterType="map" resultType="int">
        SELECT COUNT(sbsc.sbsc_id)
          FROM wi_project_sbsc sbsc,
               wi_project prj
         WHERE sbsc.user_id = #{userId}
           AND sbsc.project_id = prj.project_id
           AND sbsc.state != 'init_ok'
           <if test="state != null">AND sbsc.state = #{state}</if>
           AND sbsc.delete_date IS NULL
    </select>

    <select id="selectProjectSbscsCountByProjectId" parameterType="map" resultType="int">
        SELECT COUNT(sbsc.sbsc_id)
        FROM wi_project_sbsc sbsc
        INNER JOIN wi_user_investor AS investor ON investor.user_id = sbsc.user_id
        WHERE sbsc.project_id = #{projectId}
        AND sbsc.state = 'pay_complete'
        <if test="invSortCd != null">AND investor.inv_sort_cd = #{invSortCd}</if>
        AND sbsc.delete_date IS NULL
    </select>

    <select id="selectProjectSbscsByUserId" parameterType="map" resultMap="sbscMap">
        SELECT sbsc.sbsc_id,
               sbsc.sbsc_qty,
               sbsc.sbsc_amt,
               sbsc.pay_type,
               sbsc.state,
               sbsc.cancel_msg,
               sbsc.reg_date,
               prj.project_id,
               prj.name,
               prj.summary,
               prj.sbsc_st_dt,
               prj.sbsc_nd_dt,
               prj.sbsc_count,
               prj.target_amt,
               prj.sbsc_amt AS prj_sbsc_amt,
               prj.success_state
          FROM wi_project_sbsc sbsc,
               wi_project prj
         WHERE sbsc.user_id = #{userId}
           AND sbsc.project_id = prj.project_id
           AND sbsc.state != 'init_ok'
          <if test="state != null">AND sbsc.state = #{state}</if>
           AND sbsc.delete_date IS NULL
        <choose>
            <when test="pageable != null">
                ORDER BY
                <foreach collection="pageable.sort" item="order" separator=",">${order.property} ${order.direction}</foreach>
                LIMIT #{pageable.offset}, #{pageable.pageSize}
            </when>
            <otherwise>
                ORDER BY sbsc.reg_date DESC
            </otherwise>
        </choose>
    </select>
    <!-- MyPage 투자내역 조회 끝 -->


    <!--CMS 투자 내역 조회-->

    <select id="adminSelectSbscCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM (
            SELECT ps.*, p.name, p.summary, p.sbsc_st_dt, p.sbsc_nd_dt, p.sbsc_count, p.sbsc_amt AS prj_sbsc_amt, target_amt, u.name AS username
            FROM wi_project AS p
              INNER JOIN wi_project_sbsc ps
              ON ps.project_id = p.project_id
                INNER JOIN wi_user AS u
                ON u.user_id = ps.user_id
            WHERE p.delete_date IS NULL
              AND ps.delete_date IS NULL
              AND ps.state != 'init_ok'
              AND ps.state
            <if test="state != null">AND ps.state = #{state}</if>
            <if test="keyword != null and keyword != ''">AND (p.name LIKE CONCAT('%', #{keyword}, '%') OR u.name LIKE CONCAT('%', #{keyword}, '%')) </if>
            <if test="sbscStDt != null and sbscStDt != ''">AND ps.reg_date >= #{sbscStDt}</if>
            <if test="sbscNdDt != null and sbscNdDt != ''">AND ps.reg_date &lt;= #{sbscNdDt}</if>
        ) a
    </select>

    <select id="adminSelectSbsc" parameterType="map" resultMap="sbscMap">
        SELECT ps.*,
        p.name, p.summary, p.sbsc_st_dt, p.sbsc_nd_dt, p.isin, p.sbsc_iss_nm, p.secn_tpcd, p.sbsc_count, p.sbsc_amt AS prj_sbsc_amt, p.target_amt, p.company_value, p.share_ratio, p.target_stock_price, p.min_sbsc_count, p.issue_date, p.corp_stock,
        u.name AS username,
        f.file, f.filename
        FROM wi_project AS p
        INNER JOIN wi_project_sbsc ps
        ON ps.project_id = p.project_id
        INNER JOIN wi_user AS u
        ON u.user_id = ps.user_id
        LEFT JOIN wi_file AS f
        ON f.file_id = ps.file_id1
        WHERE p.delete_date IS NULL
        AND ps.delete_date IS NULL
        AND ps.state != 'init_ok'
        AND ps.state
        <if test="sbscId != null">AND ps.sbsc_id = #{sbscId}</if>
        <if test="state != null and state != ''">AND ps.state = #{state}</if>
        <if test="keyword != null and keyword != ''">AND p.name LIKE CONCAT('%', #{keyword}, '%') </if>
        <if test="sbscStDt != null and sbscStDt != ''">AND ps.reg_date >= #{sbscStDt}</if>
        <if test="sbscNdDt != null and sbscNdDt != ''">AND ps.reg_date &lt;= #{sbscNdDt}</if>
        <choose>
            <when test="pageable != null">
                ORDER BY
                <foreach collection="pageable.sort" item="order" separator=",">${order.property} ${order.direction}</foreach>
                LIMIT #{pageable.offset}, #{pageable.pageSize}
            </when>
            <otherwise>
                ORDER BY ps.reg_date DESC
            </otherwise>
        </choose>
    </select>

    <!--CMS 투자 내역 조회 끝-->

</mapper>