<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xenix.wicrowd.mybatis.mapper.XUnlistedMapper">

        <!--========================================== INSERT ============================================== -->

        <!--========================================== UPDATE ============================================== -->

        <!--========================================== DELETE ============================================== -->

        <!--========================================== SELECT ============================================== -->
        <sql id="selectUnlistedSql">
                SELECT u.*, c.code_name
                FROM wi_unlisted AS u
                  INNER JOIN wi_code AS c
                  ON  c.code = u.section
                WHERE u.delete_date IS NULL
                  AND c.code_group = 'UBT'
                <if test="keyword != null and keyword != ''">AND u.name LIKE CONCAT('%', #{keyword}, '%')</if>
                <if test="sectionIds != null and sectionIds != ''">AND u.name LIKE CONCAT('%', #{keyword}, '%')</if>
                <if test="sectionIds != null and sectionIds != ''">
                        AND u.section IN
                        <foreach collection="sectionIds" item="section"   open="(" close=")" separator=",">
                                '${section}'
                        </foreach>
                </if>
        </sql>
        <select id="selectUnlistedsCount" parameterType="map" resultType="int">
                SELECT COUNT(*)
                FROM (<include refid="selectUnlistedSql"></include>) a
        </select>


        <resultMap id="unlistedMap" type="net.xenix.wicrowd.model.XUnlisted">
                <id property="unlistedId" column="unlisted_id"/>
                <result property="name" column="name"/>
                <result property="businessType" column="business_type"/>
                <result property="sectionName" column="code_name"/>
                <result property="capital" column="capital"/>
                <result property="totalCapital" column="total_capital"/>
                <result property="totalLiability" column="total_liability"/>
                <result property="sales" column="sales"/>
                <result property="businessProfits" column="business_profits"/>
                <result property="termProfits" column="term_profits"/>
                <result property="eps" column="eps"/>
                <result property="majorStockholder" column="major_stockholder"/>
                <result property="stock" column="stock"/>
                <result property="ceo" column="ceo"/>
                <result property="homepage" column="homepage"/>
                <result property="phone" column="phone"/>
                <result property="establishDate" column="establish_date"/>
                <result property="address" column="address"/>
                <result property="settlementMonth" column="settlement_month"/>
                <result property="staff" column="staff"/>
                <result property="venture" column="venture"/>
                <result property="totalStock" column="total_stock"/>
                <result property="faceValue" column="face_value"/>
                <result property="stockSection" column="stock_section"/>
                <result property="managerName" column="manager_name"/>
                <result property="managerPhone1" column="manager_phone1"/>
                <result property="managerPhone2" column="manager_phone2"/>
                <result property="regDate" column="reg_date"/>

        </resultMap>


        <select id="selectUnlisteds" parameterType="map" resultMap="unlistedMap">
                <include refid="selectUnlistedSql"></include>
                <choose>
                        <when test="pageable != null">
                                ORDER BY <foreach collection="pageable.sort" item="order" separator=",">${order.property} ${order.direction}</foreach>
                                LIMIT #{pageable.offset}, #{pageable.pageSize}
                        </when>
                        <when test="random != null">
                                ORDER BY RAND()
                        </when>
                        <when test="lineup != null">
                                ORDER BY u.orderno ASC
                        </when>
                        <otherwise>
                                ORDER BY u.reg_date DESC
                        </otherwise>
                </choose>

        </select>






        <!-- Project 조회 -->
        <select id="selectUnlisted" parameterType="map" resultMap="unlistedMap">
                SELECT u.*, c.code_name
                FROM wi_unlisted AS u
                  INNER JOIN wi_code AS c
                  ON  c.code = u.section
                WHERE u.delete_date IS NULL
                  AND c.code_group = 'UBT'
                  AND u.unlisted_id = #{unlistedId}
        </select>


</mapper>