@charset "utf-8";

@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");


body, div, h1, h2, h3, h4, h5, h6, p, address, 
blockquote, hr, ul, ol, dl, li, dt, dd, table,
tr, th, td, thead, tbody, tfoot, col, colgroup,
form, fieldset, input, textarea{
	margin:0; padding:0
}

body{
	font-size:10px; 
	font-family:'Noto Sans KR',"Malgun Gothic","Dotum", sans-serif;
}

ul, ol{list-style:none}
a{color:#000; text-decoration:none}
img{border:0}
em{font-style:normal}
input, label{vertical-align:center}
td, textarea{vertical-align:top}

legend{
	visibility:hidden; width:0; height:0; padding:0
}

fieldset{border:0}

input{outline:none}



/* 기본 설정 클래스 */
.ir{
	display:block; 
	text-indent:-9000px; 
	overflow:hidden
}
.clearfix:after{
	content:''; display:block; clear:both
}
.clear{clear:both}

/* html5 시맨틱 태그 블록화 */
header, section, nav, article, footer{display:block;}