<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stp.absm.mybatis.mapper.Page006Mapper">

    <resultMap id="FilterMap" type="com.stp.absm.model.AbsmFilter">
        <id property="fiId" column="fi_id"/>
        <result property="caId" column="ca_id"/>
        <result property="prId" column="pr_id"/>
        <result property="seCd" column="se_cd"/>
        <result property="valCd" column="val_cd"/>
        <result property="meanRri" column="mean_rri"/>
        <result property="stdRri" column="std_rri"/>
        <result property="meanHrv" column="mean_hrv"/>
        <result property="stdHrv" column="std_hrv"/>
        <result property="rmssdd" column="rmssdd"/>
        <result property="pnn50" column="pnn50"/>
        <result property="lfhf" column="lfhf"/>
        <result property="scl" column="scl"/>
        <result property="surAvg" column="sur_avg"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="deleteDate" column="delete_date"/>
        <result property="caseNm" column="case_nm" />
        <result property="name" column="name" />
        <result property="chartId" column="chart_id" />
        <result property="chartData" column="chart_data" />
        <result property="pNo" column="p_no" />
    </resultMap>

    <resultMap id="ModelMap" type="com.stp.absm.model.AbsmModel">
        <id property="moId" column="mo_id"/>
        <result property="caId" column="ca_id"/>
        <result property="prId" column="pr_id"/>
        <result property="seCd" column="se_cd"/>
        <result property="meanRri" column="mean_rri"/>
        <result property="stdRri" column="std_rri"/>
        <result property="meanHrv" column="mean_hrv"/>
        <result property="stdHrv" column="std_hrv"/>
        <result property="rmssdd" column="rmssdd"/>
        <result property="pnn50" column="pnn50"/>
        <result property="lfhf" column="lfhf"/>
        <result property="scl" column="scl"/>
        <result property="surAvg" column="sur_avg"/>
        <result property="moPre1" column="mo_pre1"/>
        <result property="moPre2" column="mo_pre2"/>
        <result property="moPre3" column="mo_pre3"/>
        <result property="moPre4" column="mo_pre4"/>
        <result property="stLevel" column="st_level"/>
        <result property="dt" column="dt"/>
        <result property="caseNm" column="case_nm"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="deleteDate" column="delete_date"/>

    </resultMap>

    <resultMap id="OrgMap" type="com.stp.absm.model.AbsmOrg">
        <id property="orId" column="or_id"/>
        <result property="caId" column="ca_id"/>
        <result property="prId" column="pr_id"/>
        <result property="fiTm" column="fi_tm"/>
        <result property="meanRri" column="mean_rri"/>
        <result property="stdRri" column="std_rri"/>
        <result property="meanHrv" column="mean_hrv"/>
        <result property="stdHrv" column="std_hrv"/>
        <result property="rmssdd" column="rmssdd"/>
        <result property="pnn50" column="pnn50"/>
        <result property="lfhf" column="lfhf"/>
        <result property="scl" column="scl"/>
        <result property="dt" column="dt"/>
        <result property="caseNm" column="case_nm"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="deleteDate" column="delete_date"/>

    </resultMap>

    <resultMap id="FileMap" type="com.stp.absm.model.AbsmFile">
        <id property="viId" column="vi_id"/>
        <result property="caId" column="ca_id"/>
        <result property="prId" column="pr_id"/>
        <result property="fileCd" column="file_cd"/>
        <result property="url" column="url"/>
        <result property="fileSize" column="fileSize"/>
        <result property="fileName" column="fileName"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="deleteDate" column="delete_date"/>

    </resultMap>

    <resultMap id="EventMap" type="com.stp.absm.model.AbsmEvent">
        <id property="evId" column="ev_id"/>
        <result property="caId" column="ca_id"/>
        <result property="prId" column="pr_id"/>
        <result property="evDt1" column="ev_dt1"/>
        <result property="evDt2" column="ev_dt2"/>
        <result property="evDt3" column="ev_dt3"/>
        <result property="evDt4" column="ev_dt4"/>
        <result property="evDt5" column="ev_dt5"/>
        <result property="evDt6" column="ev_dt6"/>
        <result property="evDt7" column="ev_dt7"/>
        <result property="evDt8" column="ev_dt8"/>
        <result property="evDt9" column="ev_dt9"/>
        <result property="evDt10" column="ev_dt10"/>
        <result property="dt" column="dt"/>
        <result property="caseNm" column="case_nm"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="deleteDate" column="delete_date"/>

    </resultMap>

    <!--========================================== SELECT ============================================== -->
    <sql id="selectFilterSql">
        select a.*
        from
        (
        SELECT (@row_number:=@row_number + 1) AS num, c.*
        FROM absm_filter AS c, (SELECT @row_number:=0) AS t
        WHERE 1=1
        AND c.pr_id = #{prId}
        ) a
        Inner JOIN absm_case b
        ON a.ca_id = b.ca_id
        AND b.ca_id = #{caId}
        order by num desc
    </sql>

    <select id="selectFiltersCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM (<include refid="selectFilterSql"></include>) a
    </select>


    <select id="selectFilters" parameterType="map" resultMap="FilterMap">
        <include refid="selectFilterSql"></include>
    </select>






    <sql id="selectModelSql">
        select a.* from
        (
        SELECT (@row_number:=@row_number + 1) AS num, c.*
        FROM absm_model AS c, (SELECT @row_number:=0) AS t
        WHERE 1=1
        AND c.pr_id = #{prId}
        ) a
        Inner JOIN absm_case b
        ON a.ca_id = b.ca_id
        AND b.ca_id = #{caId}
        order by num desc
    </sql>

    <select id="selectModelsCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM (<include refid="selectModelSql"></include>) a
    </select>


    <select id="selectModels" parameterType="map" resultMap="ModelMap">
        <include refid="selectModelSql"></include>
    </select>



    <sql id="selectMeasureSql">
        select a.*
        from
        (
        SELECT (@row_number:=@row_number + 1) AS num, c.*
        FROM absm_measure AS c, (SELECT @row_number:=0) AS t
        WHERE 1=1
        AND c.pr_id = #{prId}
        AND c.eg_cd = #{egCd}
        ) a
        Inner JOIN absm_case b
        ON a.ca_id = b.ca_id
        AND b.ca_id = #{caId}
        order by num desc
        LIMIT #{lastRow}, #{lastRow}+30000
    </sql>

    <select id="selectMeasuresCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM (<include refid="selectMeasureSql"></include>) a
    </select>


    <select id="selectMeasures" parameterType="map" resultMap="FilterMap">
        <include refid="selectMeasureSql"></include>
    </select>

    <select id="selectResultData" parameterType="java.util.Map" resultMap="OrgMap">

        select
                a.ca_id
                ,a.case_nm
                ,b.pr_id
                ,b.p_no
                ,b.name
                ,c.fi_tm
                ,c.mean_rri
                ,c.std_rri
                ,c.mean_hrv
                ,c.std_hrv
                ,c.rmssdd
                ,c.pnn50
                ,c.lfhf
                ,c.scl
          from absm_case a, absm_private b,  absm_org c
         where a.ca_id = #{caId}
           and a.ca_id = b.ca_id
           and a.ca_id = c.ca_id
           and b.pr_id = c.pr_id
           and b.p_no = #{pNo}
    </select>

    <select id="selectVideoUrl" parameterType="java.util.Map" resultMap="FileMap">
        select url
          from absm_file a, absm_private b
         where a.ca_id = #{caId}
           and a.ca_id = b.ca_id
           and a.pr_id = b.pr_id
           and b.p_no = #{pNo}
           and a.file_cd = '08'
    </select>


    <sql id="selectEventSql">
        select a.*
        ,b.dt
        ,b.case_nm
        from
        (
        SELECT (@row_number:=@row_number + 1) AS num, c.*
        FROM absm_event AS c, (SELECT @row_number:=0) AS t
        WHERE 1=1
        and c.p_no = #{pNo}
        ) a
        Inner JOIN absm_case b
        ON a.ca_id = b.ca_id
        AND b.ca_id = #{caId}
        order by num desc
    </sql>



    <select id="selectEvents" parameterType="map" resultMap="EventMap">
        <include refid="selectEventSql"></include>
    </select>
</mapper>